AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations:
  Enabled: true
AlignConsecutiveMacros:
  Enabled: true
  AlignCompound: true
  AcrossEmptyLines: true
  AcrossComments: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: true
AlignArrayOfStructures: Left
AlignAfterOpenBracket: Align
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
IndentCaseLabels: true

