AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations:
  Enabled: true
AlignConsecutiveMacros:
  Enabled: true
  AlignCompound: true
  AcrossEmptyLines: true
  AcrossComments: true
AlignArrayOfStructures: Left
AlignAfterOpenBracket: Align
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None

